body {
    font-family: 'Urbanist',
        sans-serif;
}

h1 {
    text-align: center;
    font-size: 21px;
    letter-spacing: 1px;
}

label {
    font-size: 12px;
}

.btn {
    border: none;
    border-radius: 8px;
    background-color: rgb(113, 11, 180);
    padding: 10px 12px;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    transition: 0.2s;
    background-color: rgb(139, 25, 214);
}

.form {
    justify-self: center;
    margin-top: 13%;
    padding: 15px 50px 15px 50px;
    background-color: rgb(219, 194, 253);
    border-radius: 8px;
}

input {
    border: none;
    padding: 7px;
    border-radius: 2px;
}

label {
    font-weight: 700;
}